<!DOCTYPE html>
<html>
    <head>
        <title>Alumini Tracking System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        

    </head>
    <body>
       <div>
         <a href="/admin/register">Admin registration</a>
       </div>
       <div>
        <a href="/alumni/register">Alumni registration</a>
      </div>
    </body>
</html>